# Allow this file.
!/.gitignore

# Allow issue templates.
!/ISSUE_TEMPLATE/
!/ISSUE_TEMPLATE/*.yml

# Allow the workflow definitions.
!/workflows/
!/workflows/*.yml

# Allow the pull request template.
!/PULL_REQUEST_TEMPLATE.md
