# Exclude everything.
*

# Allow the container configuration files.
!/.devcontainer/

# Allow the GitHub files.
!/.github/

# Allow this ignore list.
!/.gitignore

# Allow the Cargo manifest.
!/Cargo.toml

# Allow the Cargo lock file.
# !/Cargo.lock

# Allow the source files.
!/src/
!/src/**/
!/src/**/*.rs
